celery
django-celery-beat
django-storages
boto3
v20>=3.0
finam-export
django==2.2
mysqlclient>=1.4.2
redis
pyyaml
jupyter
django-extensions
pandas
matplotlib
tensorflow
sklearn
xgboost
rollbar
gym
statsmodels
